.App {
  text-align: center;
}

input {
  text-decoration: none;
  padding: 10px 20px 14px;
  margin: 2px;
  border-radius: 4px;
  color:black;
  text-transform: uppercase;
  max-width: 600px;
  border: solid 1px #999;
  margin: 10px auto;
}

.btn {
  text-decoration: none;
  padding: 10px 20px 14px;
  background: rgb(178, 232, 255);
  margin: 2px;
  border-radius: 4px;
  color:black;
  text-transform: uppercase;
  max-width: 300px;
  border: unset;
  margin: 10px auto;
}

.btn:hover {
  background: rgb(20, 134, 184);
  color: #fff;
  box-shadow: 0 0 5px rgba(2, 2, 2, 0.307);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #444;
  color: #fff;
}

.nav .link {
  text-decoration: none;
  padding: 10px 20px 14px;
  background: rgb(178, 232, 255);
  margin: 2px;
  border-radius: 4px;
  color:black;
  text-transform: uppercase;
}

.nav .link:hover {
  background: rgb(20, 134, 184);
  color: #fff;
  box-shadow: 0 0 5px rgba(2, 2, 2, 0.307);
}

.nav .logo {
  font-size: 2em;
  color: #fff;
}

.nav .logo:hover {
  color: rgb(178, 232, 255);
  cursor: pointer;
}

.profile {
  display: flex;
  flex-direction: column;
}


.profile .avatar {
  width: 200px;
  margin: 10px auto;
}